/*csslint ids: false*/


/*************************
GENERAL
*************************/

body {
    font-family: cursive;
}

#wrapper {
    background-color: blanchedalmond;
    /*margin 0 is for all sides*/
    margin: 0 auto;
    /*max-width is related to width. But instead of width, max-width gives us the ability to be smaller for mobile  devices*/
    max-width: 940px;
    /*first value: left & right, second value: up & down*/
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 80%;
}


/*************************
HEADER
*************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    margin: 0;
    /* position of name/description */
    text-align: center;
}

h1 {
    color: purple;
    font-family: fantasy;
    font-size: 1.75em;
    margin: 15px 0;
}

h2 {
    color: navajowhite;
    font-size: 0.75em;
    font-weight: normal;
    /* first value is for top, second is for  left and right, third is for the bottom */
    margin: -5px 0 0;
}

h3 {
    margin: 0 0 1em 0;
}


/*************************
NAVIGATION
*************************/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 10px 0;
}

nav li {
    display: inline-blockinline;
    
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/*************************
FOOTER
*************************/

footer {
    clear: both;
    color: honeydew;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    height: 40px;
    margin: 0 5px;
    width: 40px;
}


/*************************
PAGE PORTFOLIO
*************************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: skyblue;
    color: aqua;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: black;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}


/*************************
ABOUT ME PAGE
*************************/

.profile-photo {
    border-radius: 15%;
    display: block;
    max-width: 0 auto 30px;
}

/*************************
CONTACT PAGE
*************************/
.contact-info li.mail a{
    background-image: url('../img/mail.png')
}


/*************************
COLOR
*************************/

body {
    background-color: azure;
    color: black;
}

a {
    color: cornsilk;
}

header {
    background: ;
}

nav {
    background: ;
}


/* "visited" is a pseudo-class*/

nav a,
nav a:visited {
    color: white;
}


/* we are selecting the selected class*/

nav .selected,
nav a:hover {
    color: maroon;
}


/*************************
SIZE
*************************/


/*************************
MEDIA Queries
*************************/